:root {
  --primary-color: #363636; 
  --secondary-color: #242f40; 
  --accent-color-1: #cca43B; 
  --accent-color-2: #363636; 
  --section-color: #ffffff;
}



*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 70px; /* Adjust for fixed navbar */
  font-family: 'Open Sans', sans-serif;
  background-color: var(--secondary-color);
  color: var(--accent-color-2);
  line-height: 1.6;
}

/* Target all elements that can be an anchor target */
.section::before {
  content: "";
  display: block;
  height: 70px; /* Height equal to navbar height */
  margin-top: -20px; /* Negative margin equal to the pseudo-element's height */
  visibility: hidden;
}

.section {
  background-color: var(--section-color); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border-radius: 8px; 
  padding: 20px; 
  margin-bottom: 100px;
}

.section h2 {
  font-size: 2.5rem; /* Larger font size for section headings */
  margin-bottom: 20px; /* Additional space below headings */
  color: #0056b3; /* Color can help differentiate headings */
}

/* .parallax-section {
  background-image: url('parallax-image.jpg');
  background-attachment: fixed;
  background-size: cover;
} */

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
  font-family: 'Montserrat', sans-serif;
  margin-top: 0;
  text-align: center;
}

h1 {
  font-size: 2.75rem;
  color: var(--accent-color-1);
  font-weight: bold;
}

/* commented out code and specified for section specific h2 h3 styles */
/* h2 {
  margin-bottom: 50px;
}

h3 {
  margin-bottom: 40px;
  text-align: left;
} */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  background-color: var(--primary-color);
}

.navbar + .container, .navbar + [class*='container-'] {
  margin-top: 56px; /* Space below navbar */
}

.nav-link, .navbar-brand {
  color: var(--accent-color-1);
  transition: color 0.3s ease-in-out;
}

.nav-link:hover, .navbar-brand:hover {
  color: #f4ffcc !important; 
}

.btn-primary, .btn {
  background-color: var(--accent-color-1); 
  border: none;
}

.btn-primary:hover, .btn:hover {
  background-color: darken(var(--accent-color-1), 10%);
}

.nav-link {
  color: var(--accent-color-1); 
  transition: color 0.3s ease-in-out;
}

a {
  color: #007BFF; 
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #0056a4; 
}
/* Responsive Adjustments */
@media (max-width: 768px) {
  .main-heading {
    margin-top: 100px; /* Adjust margin for smaller screens */
  }
  
  .navbar {
    padding: 0.5rem 1rem; /* Smaller padding on smaller screens */
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.multiple-entry {
  margin-bottom: 100px;
}

/* Skills section layout */
.skills-section {
  padding-bottom: 100px; 
  margin-top: 100px;
  margin-bottom: 100px;
}

.skills-section h2 {
  margin-bottom: 60px; /* Increase margin under the Technical Skills heading */
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the skill entries */
  gap: 20px; 
}

.skill-entry {
  background-color: #EAEAEA;
  border: 2px solid var(--primary-color);
  padding: 5px 10px; /* Reduced padding to make containers smaller */
  box-sizing: border-box; /* Ensures padding & border are included in the width */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 0 1 calc(25% - 20px); 
}

.skill-name,
.skill-proficiency,
.skill-description {
  margin: 5px 0;
}

/* Ensures proper spacing and alignment at various screen sizes */
@media (max-width: 768px) {
  .skill-entry {
      flex: 0 1 calc(50% - 20px); /* Adjust for smaller screens, maybe 2 items per line */
  }
}

@media (max-width: 480px) {
  .skill-entry {
      flex: 0 1 100%; /* Single item per line on very small screens */
  }
}

/* Formatting for other component entry forms */
.multiple-entry {
  background-color: #EAEAEA;
  border: 2px solid var(--primary-color);
  padding: 20px 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: left;
  flex: 0 1 calc(25% - 20px);
}

.multiple-entry h3 {
  text-align: center;
  width: 100%;
  font-size: 2rem;
  margin-bottom: 40px;
}



